
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quản lý trạm y tế</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        *{
            font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif!important;
            font-size: 14pt;
        }
        .padding-common{
            margin: 2cm;
        }
    </style>
</head>

<body class="loading form-bankechiphikcb form-nhap-xuatkho">
<script>
    var static_url = "static";
</script>
<div class="row">
    <div class="col-6">
        <div class="text-center">SỞ Y TẾ ĐỒNG THÁP</div>
        <div class="text-center">TRUNG TÂM KIỂM NGHIỆM</div>
        <div class="text-center">DC: 394 Lê Đại Hành. P Mỹ Tho, Đồng Tháp</div>
        <div class="text-center">DT: 03254021235</div>
    </div>
    <div class="col-6">
        <div class="text-center">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
        <div class="text-center">Độc lập- Tự Do- Hạnh Phúc</div>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <h4 class="col-12 text-center">PHIẾU KIỂM NGHIỆM</h4>
    <div class="">MSM: 350-T/KT-20</div>
</div>

<div class="row ml-2 mr-2 mb-5">
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Mẫu kiểm nghiệm: 
            </div>
            <div class="col-8">Hoài Sơn/ Củ mài</div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Nơi sản xuất: 
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        Công ty Cổ phần Dược phẩm Khang Minh
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <span>Số lô: </span>
                        <span>19002</span>
                    </div>
                    <div class="col-4">
                        <span>NSX</span>
                        <span>23/12/2020</span>
                    </div>
                    <div class="col-4">
                        <span>HD</span>
                        <span>31/12/2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Nơi lấy mẫu: 
            </div>
            <div class="col-8">
                Bệnh viện Đa Khoa Sa Đéc (Khoa Dược), 153 Nguyễn Sinh Sắc, TP.  Sa Đéc, Tỉnh Đồng Tháp
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Người lấy mẫu: 
            </div>
            <div class="col-8">
                Mai Kim Ri
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">Yêu cầu kiểm nghiệm: </div>
            <div class="col-8">
                Biên bản lấy mẫu thuốc để xác định chất lượng ngày 21/8/2020
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Ngày nhận mẫu: 
            </div>
            <div class="col-8">
                24/8/2020
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Số đăng ký kiểm nghiệm:
            </div>
            <div class="col-8">
                350-L/KT-20
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-8">Người giao mẫu:</div>
                    <div class="col-4">Mai Kim Rí</div>
                </div>
            </div>
            <div class="col-6 p-0 m-0">
                <div class="row">
                    <div class="col-5">
                        Người nhận mẫu:
                    </div>
                    <div class="col-7">
                        Nguyễn Thị Kiều Oanh
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Tiêu chuẩn áp dụng: 
            </div>
            <div class="col-8">
                DĐVN - Chuyên luận Dược liệu Củ Mài (củ) Tuber Dioscoreae 
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                Tình trạng mẫu khi nhận và mở niêm phong
            </div>
            <div class="col-8">
                Gồm 2 gói còn nguyên niêm phong của Trung Tâm Kiểm nghiệm Đồng Tháp. Số lượng mẫu nhận: 600 gr- thông tin trên biên bản, không có thông tin trên mẫu. Mở niêm phong gói 400 gr ddeere mã hóa.
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive w-100 mb-3">
            <table id="demo-foo-addrow" class="table table-centered table-bordered mb-0 toggle-circle table-vattu" data-page-size="7" style="font-size: 13px;">
                <thead>
                    <tr>
                        <th>Chỉ tiêu</th>
                        <th>Yêu cầu chất lượng </th>
                        <th>Kết quả và kết luận</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {% for vattu in danhsach_vattu %}
                        <tr>
                            <td class="text-center">1</td>
                            <td>{% if vattu.so_lo != None%}
                                {{vattu.so_lo}}
                            {% endif %}</td>
                            <td>{% if vattu.ten_sanpham != None%}
                                {{vattu.ten_sanpham}}
                            {% endif %}</td>
                            <td class="text-center">{% if vattu.soluong_chungtu != None%}
                                {{vattu.soluong_chungtu}}
                            {% endif %}</td>
                            <td class="text-center">{% if vattu.soluong_thucte != None%}
                                {{vattu.soluong_thucte}}
                            {% endif %}</td>
                            <td class="text-right">{% if vattu.dongia != None%}
                                {{vattu.dongia}}
                            {% endif %}</td>
                            <td class="text-right">{% if vattu.thanhtien != None%}
                                {{vattu.thanhtien}}
                            {% endif %}</td>
                        </tr>
                    {% endfor %} -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12">
        <div class="">Kết luận</div>
    </div>
</div>



</body>


</html>