
@font-face {
font-family: 'Glyphicons Halflings';
src: url('font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('font/glyphicons-halflings-regular.woff2') format('woff2'),
        url('font/glyphicons-halflings-regular.woff') format('woff'),
        url('font/glyphicons-halflings-regular.ttf') format('truetype'),
        url('font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.clockpicker .input-group-addon-custom {
    cursor: pointer;
}
.input-group-addon-custom:last-child {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.input-group-addon-custom {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    height: 31px;
}

.glyphicon-custom {
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-time-custom::before {
    content: "\e023";
}

.left-sidenav {
    width: 420px;
    z-index: 1;
    background: #fff;
    bottom: 0;
    position: fixed;
    top: 20px;
    padding-top: calc(70px + 20px);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    border-right: 1px solid #DCDCDC;
}

.right-sidenav {
    width: 420px;
    bottom: 0;
    position: fixed;
    top: 20px;
    right: 0;
}
#right_side {
    width: 60px;
    z-index: 1;
    background: #fff;
    bottom: 0;
    position: fixed;
    transition: 0.1s;
    top: 20px;
    right: 0;
    border-left: 1px solid #DCDCDC;
    padding-top: calc(70px + 20px);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}
#right_side_ext {
    width: 360px;
    z-index: 1;
    background: #fff;
    bottom: 0;
    position: fixed;
    top: 20px;
    border-left: 1px solid #DCDCDC;
    padding-top: calc(70px + 20px);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    /* margin-right: 60px; */
}
.open-nav {
    font-size:30px;
    cursor:pointer; 
    margin-left: 15px;
}
#custom_editor {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}
#content_left {
    margin-top: 20px;
}
#btn_related_news {
    margin-left: 12px;
    width: 70px;
    height: 66px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#related_news {
    margin-left: 12px;
    margin-top: 15px;
    margin-right: 3px;
}
#related_news ul#list_post li.post:first-child {
    margin-top: 0px !important;
}
#related_news ul#list_post li.post:last-child {
    margin-bottom: 20px !important;
}
#related_news #list_post {
    overflow: scroll;
    height: 575px;
}
.img-related-news {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
#closebtn_left {
    position: fixed;
    font-size: 36px;
    margin-left: 396px;
}

#content_right {
    margin-right: -3px;
    height: 95%;
    overflow: scroll;
}
#right_side {
    width: 60px;
    border-left: 1px solid #DCDCDC;
}
#right_side_ext {
    border-left: 1px solid #DCDCDC;
}
.title-right-sidenav {
    height: 55px;
    margin-top: -9px;
    background-color: #DCDCDC;
}
.title-right-sidenav .text-title {
    padding-top: 18px;
}
.custom-ml-post {
    margin-left: 12px;
}
.custom-mr-post input{
    margin-right: -23px;
}
.ml-datetimepicker {
    margin-left: -11px;
}

.blog {
    list-style: none;
    margin-left: -40px !important;
    margin-right: -3px;
}
.post {
    float: left;
    clear: both;
    margin-top: 20px;
    width: 100%;
}
.img_post {
    float: left;
}
.content_post {
    margin-left: 10px;  
    float: left;
    width: 280px;
}
.post_details {
    list-style: none;
    clear: none;
    position: static;
    background: none;
    float: left;
    padding: 0;
    margin: 0;
}
ul.post_details li.category, ul.post_details li.category a {
    color: #666666;
    font-family: NunitoSans-Bold;
}
li.category a {
    text-decoration: none;
    outline: none;
}
ul.post_details li {
    background: none;
    padding: 0;
    float: left;
    font-family: arial;
    font-size: 12px;
}
ul.post_details li.date {
    margin-left: 10px;
    border: none;
    color: #7C7C7C;
}
.delete-related-new {
    cursor: pointer;
    margin-left: 3px;
    font-size: 35px;
}
.btn-return {
    background-color: #9400d3e5;
    color: #fff;
}
.btn-return:hover {
    background-color: #9400D3;
    color: #fff;
}

.btn-save, .btn-temp-save {
    background-color: #228B22;
    color: #fff;
}
.btn-save:hover, .btn-temp-save:hover {
    background-color: #008000;
    color: #fff;
}

.btn-cancel {
    background-color: #4682B4;
    color: #fff;
}
.btn-cancel:hover {
    background-color: #6A5ACD;
    color: #fff;
}

#related_news .blog .post .img_post img {
    width: 80px;
    height: 70px;
} 

#related_news .blog .post .content_post h5 {
    color: #333333 !important;
    margin-bottom: 5px;
    font-family: NunitoSans-Bold;
} 

.closebtn-right {
    width: 30px;
    height: 55px;
    background: transparent url("../images_template/close-sidebar-icon.png") left center no-repeat;
    /* background-image: url("static/images_template/close-sidebar-icon.png"); */
    background-color: #DCDCDC;
    top: 91px;
    left: -30px;
    cursor: pointer;
    position: absolute;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 15px;
}

.tags .selectize-input  {
    height: 100px;
}
.seo-preview {
    background-color: #f1f1f1;
    padding: 8px;
    border: 1px solid #e0e0e1;
    margin-bottom: 30px ;
    margin-left: 12px;
}  
.seo-preview .title {
    color: #1a0dab;
    font-size: 18px;
    line-height: 24px;
    word-wrap: break-word;
}    
.seo-preview .bread-crumb {
    color: #006621;
    font-weight: bold;
    display: flex;
    font: normal 12px Arial;
    justify-content: space-between;
}
.seo-preview .sapo {
    color: #666;
    font: normal 12px/19px Arial;
    word-wrap: break-word;
}
.custom-clockpicker{
    width: 110px; 
}
.avatar {
    width: 68px;
    height: 68px;
    position: relative;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    margin-left: 12px;
}
.avatar .remove {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #f7fafc;
    font-size: 14px;
    border-radius: 999px;
    background: #d6d6d6;
}
.avatar .upload {
    font-size: 16px;
    color: #b7b7b7;
}

@media only screen and (max-width: 1600px) {
    .left-sidenav {
        width: 340px;
    }
    #closebtn_left {
        margin-left: 316px;
    }
    #related_news .blog .post .img_post img {
        width: 75px;
        height: 65px;
    }
    .content_post {
        width: 208px;
    }
    .right-sidenav {
        width: 340px;
    }
    #right_side_ext {
        width: 280px;
    }
    .custom-clockpicker{
        width: 100px; 
    }
    .input-group-addon-custom {
        padding: 6px 8px;
    }
    #related_news #list_post {
        height: 410px;
    }
    .avatar {
        width: 53px;
        height: 53px;
    }
    .avatar:nth-child(n+3) {
        margin-left: 6px;
    }
    .avatar .remove {
        font-size: 13px;
    }
    .avatar .upload {
        font-size: 15px;
    }
    #custom_editor {
        width: calc(100% - 680px) !important;
    }
}

@media only screen and (max-width: 1370px) {
    #custom_editor {
        width: calc(100% - 575px) !important;
    }
    .left-sidenav {
        width: 275px;
    }
    #closebtn_left {
        margin-left: 250px;
    }
    #related_news .blog .post .img_post img {
        width: 60px;
        height: 52px;
    }
    .content_post {
        width: 160px;
        margin-left: 5px;
    }
    #related_news #list_post {
        height: 295px;
    }
    #related_news .blog .post .content_post h5 {
        font-size: 12px;
        margin-bottom: 2px;
    }
    #related_news .blog .post .content_post .post_details .category {
        font-size: 10px;
    }
    .right-sidenav {
        width: 275px;
    }
    #right_side_ext {
        width: 240px;
    }
    #right_side {
        width: 45px;
    }
    #custom_editor {
        width: 640px;
    }
    .custom-clockpicker{
        width: 90px; 
    }
    .datetimepicker-input {
        font-size: 12px;
        padding-right: 0 !important;
    }
    #hour_time {
        font-size: 12px;
    }
    .input-group-addon-custom {
        padding: 6px 8px;
        height: 33px;
    }
    .gonrin-datetimepicker-widget {
        font-size: 11px;
    }
    #btn_related_news {
        width: 52px;
        height: 50px;
    }
    .delete-related-new {
        font-size: 30px;
    }
    .title-right-sidenav {
        height: 46px;
    }
    .title-right-sidenav .text-title {
        font-size: 14px;
    }
    .avatar {
        width: 45px;
        height: 45px;
    }
    .avatar:nth-child(n+3) {
        margin-left: 4px;
    }
    .avatar .remove {
        font-size: 12px;
    }
    .avatar .upload {
        font-size: 14px;
    }
    /* #content_left h4 {
        font-size: 14px;
    } */
}
@media only screen and (max-width: 500px) {
    .left-sidenav {
        width: 100%;
    }
    #closebtn_left {
        margin-left: 93%;
    }
    #related_news .blog .post .img_post img {
        width: 70px;
        height: 60px;
    }
    .open-nav {
        margin-left: 10px;
    }
    .content_post {
        width: calc(100% - 116px);
    }
    .right-sidenav {
        width: 275px;
    }
    #right_side_ext {
        width: 81%;
    }
    #right_side {
        width: 12%;
    }
    #custom_editor {
        width: 76%;
        margin-left: 12%;
    }
    .custom-clockpicker{
        width: 50%; 
    }
    #content_right {
        margin-right: 0px;
    }
}

/* data tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    top: 108%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -25px;
    padding: 7px;
    width: 105px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
[data-tooltip-position="top"]:before {
    left: 50%;
    margin-left: -25px;
    width: 105px;
}
[data-tooltip-position="middle"]:before {
    left: 50%;
    margin-left: -50px;
    width: 105px;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    top: 101%;
    transform: rotate(180deg);
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
[data-tooltip-position="top"]:after {
    left: 75%;
    margin-left: 0px;
}
[data-tooltip-position="middle"]:after {
    left: 50%;
    margin-left: -5px;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/* end data tooltip */