ul.timeline_cncc {
    list-style-type: none;
    position: relative;
}
ul.timeline_cncc:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 50;
}
ul.timeline_cncc > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline_cncc > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 50;
}


.img-cncc {
    margin-top: 165px;
    padding: 1px 6px;
    /* margin-left: 20px; */
    position: absolute;
    left: 45%;
    top: 0;
    font-size: 20px;
    border: 2px solid #4AB;
    border-radius: 50% !important;
    background:#4AB;
    color: #fff;
}

.bg-cncc {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: none;
    background-size:cover; 
    background-repeat:no-repeat; 
    background-position: center center;
    width: 100%;
    height: 200px;
    text-align:center;
}

.bg-cncc img{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border: none;
    background-repeat:no-repeat; 
    background-position: center center;
    object-fit: contain;
    
}
@media only screen and (max-width:769px) {
    ul.timeline_cncc:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 25px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline_cncc > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 17px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
    ul.timeline_cncc > li {
        margin: 20px 0;
        padding-left: 11px;
    }
}
@media only screen and (max-width:600px) {
    ul.timeline_cncc:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: -4px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    ul.timeline_cncc > li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: -13px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
    ul.timeline_cncc > li {
        margin: 20px 0;
        padding-left: 10px;
    }
    ul.timeline_cncc{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    
}





.column {
    float: left;
    width: 25%;
  }
      /* The Modal (background) */
    .modal-timeline {
      display: none;
      position: fixed;
      z-index: 1099;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
    }
    
    /* Modal Content */
    .modal-content-timeline {
      position: relative;
      /* background-color: #fefefe; */
      margin: auto;
      padding: 0;
      width: 90%;
      max-width: 1200px;
    }
    
    /* The Close Button */
    .close-timeline {
      color: white;
      position: absolute;
      top: 0px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close-timeline:hover,
    .close-timeline:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* Hide the slides by default */
    .mySlides {
      display: none;
      background-color: #999;
    }
    .mySlides img{
        background-repeat:no-repeat; 
        background-position: center center;
        object-fit: contain;
        height: calc(80vh);
        /* contain */
    }
    
    /* Next & previous buttons */
    .prev-timeline,
    .next-timeline {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color:#FFFFFF !important;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next-timeline {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev-timeline:hover,
    .next-timeline:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Caption text */
    .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white;
    }
    
    img.demo {
      opacity: 0.6;
      height: 150px;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
    
    img.hover-shadow {
      transition: 0.3s;
    }
    
    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }