<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kết quả tìm kiếm dược liệu</title>
    <meta name="description" content="Hệ thống truy xuất nguồn gốc dược liệu, cung cấp thông tin chính thống từ Bộ Y tế về thông tin dược liệu, chứng nhận nguồn gốc, chất lượng của dược liệu">
    <meta name="google-site-verification" content="qmpGyGnonSwhdUdp2i2-z3YjTT8JTpIwLtKAU2mqL9I" />
    <meta name="keywords" content="truy xuat nguon goc duoc lieu, cocq duoc lieu, duoc lieu, truy xuat nguon goc" />
	<meta name="news_keywords" content="truy xuat nguon goc duoc lieu, cocq duoc lieu, duoc lieu, truy xuat nguon goc" />
	
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="{{static_url}}/vendor/libtemplate1/css/bootstrap-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{static_url}}/vendor/libtemplate1/css/app-material.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{static_url}}/images_template/default2.png">
    </head>

    <body class="loading">
        <script>
            var static_url = "static";
        </script>
        <div class="account-pages my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="error-ghost text-center">
                                    <img src="{{static_url}}/images_template/error.svg" width="200" alt="error-image"/>
                                </div>

                                <div class="text-center">
                                    <h4 class="mt-4 text-uppercase font-weight-bold">Không tìm thấy thông tin sản phẩm </h4>
                                    <p class="text-muted mb-0 mt-3" style="line-height: 20px;">Hệ thống truy xuất nguồn gốc không tìm thấy thông tin của sản phẩm, vui lòng liên hệ cơ sở sản xuất/cung ứng để biết thêm thông tin.</p>

                                    <!-- <a class="btn btn-primary mt-3" href="index.html"><i class="mdi mdi-reply mr-1"></i> Return Home</a> -->
                                </div>
                
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            <script>document.write(new Date().getFullYear())</script> &copy;  <a href="http://ydct.moh.gov.vn/">CỤC QUẢN LÝ Y, DƯỢC CỔ TRUYỀN - BỘ Y TẾ</a> 
        </footer>

        <!-- Vendor js -->
        <script src="{{static_url}}/vendor/libtemplate1/js/vendor.js"></script>
        <script src="{{static_url}}/vendor/libtemplate1/js/app.min.js"></script>

    </body>
</html>