<div block-bind="content">
	<div class="row">
        <div class="card col-12">
            <div class="card-body py-2">
                <h4 id="title_page" class="page-title text-uppercase text-center text-primary">Tài liệu hướng dẫn sử dụng phần mềm Truy xuất nguồn gốc dược liệu</h4>
            </div>
        </div>
    </div>
	<div class="card  card-small mb-4">
		<div class="card-body px-3">
            <div class="row">
                <a href="javascript:void(0);" class=" col-12 py-2 mb-1 huongdan-canbo-cuc huongdansudung-text d-none">Hướng dẫn sử dụng dành cho chuyên viên Cục quản lý Y dược cổ truyền</a>
            </div>
            <div class="row">
                <a href="javascript:void(0);" class="col-12 py-2 mb-1 huongdan-cungung huongdansudung-text">Hướng dẫn sử dụng dành cho doanh nghiệp cung ứng/nhập khẩu/phân phối</a>
            </div>
            <div class="row">
                <a href="javascript:void(0);" class=" col-12 py-2 mb-1 huongdan-nuoitrong huongdansudung-text">Hướng dẫn sử dụng dành cho doanh nghiệp nuôi trồng, thu hái dược liệu</a>

            </div>
            <div class="row">
                    <a href="javascript:void(0);" class="col-12 py-2 mb-1 huongdan-khaithac huongdansudung-text">Hướng dẫn sử dụng dành cho doanh nghiệp khai thác dược liệu tự nhiên</a>
            </div>
            <div class="row">
                <a href="javascript:void(0);" class="col-12 py-2 huongdan-nuoitrong-khaithac huongdansudung-text">Hướng dẫn sử dụng dành cho doanh nghiệp nuôi trồng, khai thác tự nhiên</a>
            </div>
            <div class="row">
                <a href="javascript:void(0);" class="col-12 py-2 huongdan-benhvien huongdansudung-text">Hướng dẫn sử dụng dành cho bệnh viện</a>
            </div>
		</div>
	</div>
</div>